@font-face {
  font-family: danielFont;
  src: url('/assets/daniel.ttf');

}

*{
  box-sizing: border-box;
}

#background-image {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.imgContainer {
  z-index: 2;
  width: 75vw;
  height: auto;
  margin: 18.5vh auto;
}

#logo {
  width: 16vw;
  height: auto;
  z-index: 3;
  position: absolute;
  top: 275px;
  left: 700px;
}


#banner-image {
  height: 100%;
  width: 100%;
  padding: 30px;
  filter: brightness(50%);
}

p {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 100px;
  font: 10vw danielFont;
  color: white;
}

@media only screen and (max-width : 425px) {
  .imgContainer {
    overflow: scroll;
    padding: 0;
    margin: 0;
  }
  .outsideContainer{
    height: auto;
    width: 100vw;
    padding: 4%;
  }

  img {
    max-width: none;
    height: 95vh;
    width: auto;
    padding: 0;

  }

  p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font: 10vw danielFont;
    color: white;

  }

}
