.search-input {
  width: 300px;
  color: blue;
  order: none;
  border: none;
  outline: none;
  padding: 10px;
  text-align: right;
  font: 40px 'Helvetica', sans-serif;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Chrome */
  color: blue;
}

.search-results {
  color: blue;
  font: 40px 'Helvetica', sans-serif;
  margin-bottom: 4vh;
}

.search-results:hover {
  cursor: pointer;
}
