.article-card-container {
  padding: 30px;
  height: 37vh;
  background-position: center;
  background-size: 120%;
  transition: background-size .3s;

}

.article-card-container:hover {
  background-size: 130%;
}

h1, h2, h3 {
  color: white;
  font: 30px "Courier", sans-serif;
  text-shadow: 1px 1px 10px black;
}

h1 {
  padding-bottom: 40px;
}

.article-cards-container {
  text-align: center;
}

ul {
  /*margin: 0 auto;*/
}

li {
  display: inline-block;
  width: 40vw;
  padding: 0 0 50px 50px;
  text-align: left;

}

@media only screen and (max-width : 1440px) {
  li {
    width: 46.8vw;
  }

  .article-card-container {
    height: 22vh;
  }
}

@media only screen and (max-width : 1024px) {
  li {
    width: 45.9vw;
    padding: 0 0 25px 25px;
  }

  .article-card-container {
    height: 22vh;
  }
}

@media only screen and (max-width : 425px) {
  li {
    padding: 0 4vw 4vw;
    width: 93vw;
  }

  li:nth-child(odd) {
    padding: 0 4vw 4vw;
  }

  .article-card-container {
    background-size: 130%;
    padding: 10px;
    margin: 2px;
    height: 28vh;
  }

  .article-card-container:hover {
    background-size: 130%;
  }

}
