.article-card-container {
  padding: 30px;
  height: 23.3vh;
  background-position: center;
  background-size: 100%;
  transition: background-size .3s;
}

.article-card-container:hover {
  background-size: 110%;
}

h1, h2, h3 {
  color: white;
}

li {
  display: inline-block;
  width: 47.3vw;
  margin: 0 15px 30px;
}

li:nth-child(odd) {
  margin-left: 30px;
}

@media only screen and (max-width : 425px) {
  li {
    width: 100%;
  }

  .article-card-container {
    background-color: grey;
    padding: 10px;
    margin: 2px;
    height: 30vh;
  }

}
