.article-card-container {
  padding: 30px;
  height: 23.3vh;
  background-position: center;
  background-size: 100%;
  transition: background-size .3s;
}

.article-card-container:hover {
  background-size: 110%;
}

h1, h2, h3 {
  color: white;
}

li {
  display: inline-block;
  width: 47.3vw;
  padding: 0 0 30px 30px;
}

li:nth-child(odd) {
  padding-left: 30px;
}

@media only screen and (max-width : 1440px) {
  li {
    width: 46.8vw;
  }

  .article-card-container {
    height: 22vh;
  }
}

@media only screen and (max-width : 1024px) {
  li {
    width: 45.9vw;
    padding: 0 0 25px 25px;
  }

  .article-card-container {
    height: 22vh;
  }
}

@media only screen and (max-width : 425px) {
  li {
    padding: 0 4vw 4vw;
    width: 93vw;
  }

  li:nth-child(odd) {
    padding: 0 4vw 4vw;
  }

  .article-card-container {
    background-size: 130%;
    padding: 10px;
    margin: 2px;
    height: 28vh;
  }

  .article-card-container:hover {
    background-size: 130%;
  }

}
