.menu-button {
  font: 20px 'Helvetica', sans-serif;
  z-index: 10;
  position: absolute;
  right: 70px;
  top: 60px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.navigation {
  z-index: 10;
  position: absolute;
  right: 70px;
  top: 90px;
  color: white;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  text-align: right;
  margin-top: 8vh;
  font: 20px 'Helvetica', sans-serif;
}

@media only screen and (max-width : 425px) {
  button {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
